@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');




* {
    margin: 0;
    padding: 0,
}


h1,
h2 {
    color: white;
    font-size: 130px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;

}

h3 {
    color: white;
    font-size: 70px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;

}

h4 {
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;

}

h5 {
    color: rgb(5, 5, 5);
    font-size: 50px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;

}

h6 {
    color: rgb(248, 244, 244);
    font-size: 50px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;

}




p {
    color: white;
    font-size: 30px;
    text-align: center;

}




.principal {
    background-image: url(../imagenes/imagendefondo1.jpg);

    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 50px;



}

.carrucel {

    width: 500px;
    display: block;
    margin: auto;

}

.contenedor {
    display: flex;
    justify-content: left;
    text-align: left;
    color: white;
    font-size: 30px;
    margin-top: 100px;
}

.img_con {
    width: 500px;

}

.img_con2 {
    width: 500px;
}

.texto-contenedor {
    padding-left: 25px;

}

.contenedor2 {
    display: flex;
    justify-content: right;
    text-align: right;
    color: white;
    font-size: 30px;
    margin-top: 100px;


}

.txt-contenedor2 {
    padding-right: 25px;
}



.fondo_menu {
    background-image: url(../imagenes/galaxia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



.formulario {
    color: white;
    font-size: 20px;


}

/*footer*/
.pie-pagina {
    background-color: rgb(121, 113, 113);

}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.miyagi {
    width: 300px;
    height: 300px;
}

.red-social a {
    display: inline-block;
    text-decoration: none;
    width: 100px;
    height: 100px;
    line-height: 100px;
    color: rgb(8, 8, 8);
    margin-right: 70px;
    background-color: #f8fafc;
    text-align: center;
    margin-top: 50px;
    margin-left: 60px;
}



.menu {
    margin: 10px;
    box-shadow: 0 4px 8px lightblue, 0 6px 20px rgba(0, 0, 0, 0.19);

}

/*menu*/




.contenido {
    max-width: 1100px;
    width: 100%;
    margin: 40px auto;
    display: flex;
}

.mostrador {
    width: 100%;
    transition: .5s ease;

}

.mostrador .fila {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

}

.mostrador .fila .item {
    max-width: 250px;
    padding: 20px;
    height: 500px;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;


}

.mostrador .fila .item:hover {
    background-color: rgb(58, 61, 61);
}

.mostrador .fila .item img {
    width: 100%;
    margin: 20px 0;

}

.mostrador .fila .item .descripcion {
    color: rgb(243, 240, 240);
    font-weight: bold;
    font-size: 18px;
}

.mostrador .fila .item .precio {
    color: rgb(245, 241, 241);
    font-weight: bold;
    font-size: 20px;
}

/*
.item{
    width: 250px;
    height: 250px;
}*/



@media only screen and (min-width:900px) and (max-width:1050px) {

    h1 {
        font-size: 130px;
    }

    h2 {
        font-size: 130px;
    }

    p {
        font-size: 20px;
    }

    .miyagi {
        width: 200px;
        height: 200px;
    }

    .red-social a {
        width: 50px;
        height: 50px;
        line-height: 60px;
        margin-right: 40px;
        margin-top: 50px;
        margin-left: 60px;
    }

    .contenedor2 {
        font-size: 10px;
    }
}



@media only screen and (min-width:600px) and (max-width:899px) {


    h1,
    h2 {
        font-size: 100px;
    }

    .carrucel {
        width: 400px;
    }

    p {
        font-size: 30px;
    }

    .img_con {
        width: 250px;
    }

    .img-con2 {
        width: 250px;
    }

    .miyagi {
        width: 250px;
        height: 250px;
    }

    .red-social a {

        width: 50px;
        height: 50px;
        line-height: 50px;
        margin-right: 40px;
        margin-top: 40px;
        margin-left: 30px;
    }

    h6 {
        font-size: 25px;
    }

    .contenedor2 {
        font-size: 10px;
    }


    .mostrador .fila .item .descripcion {
        font-size: 20px;

    }
    
.mostrador .fila {
    display: block;
    
justify-content:center;  
width: 100%;
margin: 200px;
  

}

}


@media only screen and  (max-width:599px) {

    h1,
    h2 {
        font-size: 50px;
    }

    .carrucel {
        width: 250px;
    }

    p {
        font-size: 10px;

    }

    .img_con {
        width: 150px;

    }

    .img-con2 {
        width: 150px;
    }

    .red-social a {
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin-right: 30px;
        margin-top: 30px;
        margin-left: 20px;
    }

    .miyagi {
        width: 150px;
        height: 150px;
    }

    h6 {
        font-size: 10px;
    }

    .txt-contenedor2 {
        padding-right: 25px;
    }

    .contenedor2 {
        font-size: 10px;
    }


    .mostrador .fila .item .descripcion {
        font-size: 15px;


    }
    
.mostrador .fila {
    display: block;
justify-content: center;  
width: 100%;
margin: 80px;
}




}
