@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
* {
  margin: 0;
  padding: 0; }

.pie-pagina {
  background-color: #424242; }

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px; }

.miyagi {
  width: 300px;
  height: 300px; }

.red-social a {
  display: inline-block;
  text-decoration: none;
  width: 100px;
  height: 100px;
  line-height: 100px;
  color: #080808;
  margin-right: 70px;
  background-color: #f8fafc;
  text-align: center;
  margin-top: 50px;
  margin-left: 60px; }

h1, h2 {
  color: white;
  font-size: 130px;
  text-align: center;
  font-family: 'Shadows Into Light', cursive; }

h3 {
  color: white;
  font-size: 70px;
  text-align: center;
  font-family: 'Shadows Into Light', cursive; }

h4 {
  color: white;
  font-size: 50px;
  text-align: center;
  font-family: 'Shadows Into Light', cursive; }

h5 {
  color: black;
  font-size: 50px;
  text-align: center;
  font-family: 'Shadows Into Light', cursive; }

h6 {
  color: white;
  font-size: 50px;
  text-align: center;
  font-family: 'Shadows Into Light', cursive; }

p {
  color: white;
  font-size: 30px;
  text-align: center; }

.principal {
  background-image: url(../imagenes/imagendefondo1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 50px; }

.carrucel {
  width: 500px;
  display: block;
  margin: auto; }

.contenedor {
  display: flex;
  justify-content: left;
  text-align: left;
  color: white;
  font-size: 30px;
  margin-top: 100px; }

.img_con {
  width: 500px; }

.img_con2 {
  width: 500px; }

.texto-contenedor {
  padding-left: 25px; }

.contenedor2 {
  display: flex;
  justify-content: right;
  text-align: right;
  color: white;
  font-size: 30px;
  margin-top: 100px; }

.txt-contenedor2 {
  padding-right: 25px; }

.fondo_menu {
  background-image: url(../imagenes/galaxia.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.menu {
  margin-top: 5%;
  padding: 5%; }

.precio:hover {
  background-color: #383737;
  transition: .3s; }

.precio {
  font-size: 50px;
  color: black; }

.card-text {
  color: black; }

.formulario {
  color: white;
  font-size: 20px; }

form {
  width: 450px;
  margin: auto;
  background: black;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px; }

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box; }

textarea {
  min-height: 100px;
  max-width: 200px;
  max-width: 100%; }

#boton {
  background: #525353;
  color: white;
  padding: 20px; }

#boton:hover {
  cursor: pointer; }

@media only screen and (min-width: 900px) and (max-width: 1050px) {
  h1 {
    font-size: 130px; }
  h2 {
    font-size: 130px; }
  p {
    font-size: 20px; }
  .miyagi {
    width: 200px;
    height: 200px; }
  .red-social a {
    width: 50px;
    height: 50px;
    line-height: 60px;
    margin-right: 40px;
    margin-top: 50px;
    margin-left: 60px; }
  .contenedor2 {
    font-size: 10px; } }

@media only screen and (min-width: 600px) and (max-width: 899px) {
  h1,
  h2 {
    font-size: 100px; }
  .carrucel {
    width: 400px; }
  p {
    font-size: 30px; }
  .img_con {
    width: 250px; }
  .img-con2 {
    width: 250px; }
  .miyagi {
    width: 250px;
    height: 250px; }
  .red-social a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-right: 40px;
    margin-top: 40px;
    margin-left: 30px; }
  h6 {
    font-size: 25px; }
  .contenedor2 {
    font-size: 15px; } }

@media only screen and (min-width: 320px) and (max-width: 599px) {
  h1,
  h2 {
    font-size: 50px; }
  .carrucel {
    width: 250px; }
  p {
    font-size: 10px; }
  .img_con {
    width: 150px; }
  .img-con2 {
    width: 150px; }
  .red-social a {
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-right: 30px;
    margin-top: 30px;
    margin-left: 20px; }
  .miyagi {
    width: 100px;
    height: 100px; }
  h6 {
    font-size: 10px; }
  .txt-contenedor2 {
    padding-right: 25px; }
  .contenedor2 {
    font-size: 10px; }
  .menu {
    margin-top: 15%; } }

@media (max-width: 480px) {
  form {
    width: 100%; } }
