

.formulario {
    color: white;
    font-size: 20px;


}

form{
    width: 450px;
    margin: auto;
   background: black;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
}

textarea{
    min-height: 100px;
    max-width: 200px;
    max-width: 100%;

}

#boton{
    background: #525353;
    color: white;
    padding: 20px;

}
#boton:hover {
    cursor: pointer;
}

@media (max-width: 480px){
    form{
        width: 100%;
    }
}
