.fondo_menu {
    background-image: url(../imagenes/galaxia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



.menu {
    margin-top: 3%;
    padding: 3%;
    pad: 15px;
    
    
}

.precio:hover {
    background-color: rgb(56, 55, 55);
    transition: .3s;
}

.precio{
    font-size: 80px;
    color: black;
   
  
}

.card-text{
    color: black;
}
