.fondo_menu {
    background-image: url(../imagenes/galaxia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



.menu {
    @include margen(5%, 5%)


}

.precio:hover {
    background-color: rgb(56, 55, 55);
    transition: .3s;
}

.precio {
    font-size: 50px;
    color: black;


}

.card-text {
    color: black;
}