
.pie-pagina {
    background-color: rgb(66, 66, 66);

}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.miyagi {
    width: 300px;
    height: 300px;
}

.red-social a {
    display: inline-block;
    text-decoration: none;
    width: 100px;
    height: 100px;
    line-height: 100px;
    color: rgb(8, 8, 8);
    margin-right: 70px;
    background-color: #f8fafc;
    text-align: center;
    margin-top: 50px;
    margin-left: 60px;
}
